*{
    padding: 0;
    margin: 0;
}
article{
    background-color: rgb(199, 247, 247);
}
nav{
    background-color: rgb(56,55,55);
}
footer{
    background-color: rgb(84, 85, 85);
    height: max-content;
    display: inline-block;
    color: white;
}
